.hero-slice {
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    height: 100% !important;
  }
}

.top-rated {
  .button-prev {

  }
  .button-next {
    
  }
}

.style-option {
  color: red;
}

.text-black__placeholder {
  color: white !important;
}